:root {
  --nav-background-color: #ffffff;
  --main-background-color: #e5e5e5;
  --accent-color: #2e2f42;
  --main-text-color: #434455;
  --accent-text-color: #4d5ae5;
  --disable-btn-color: #e7e9fc;
  --enable-btn-color: #404bbf;
  --secondary-background-color: #f4f4fd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--main-text-color);
}
/* HEADER */
.header {
  background-color: var(--nav-background-color);
  width: 1440px;
  height: 71px;
}
.header-navigation {
  display: flex;
}

.logo {
  width: 115px;
height: 24px;
padding-top: 24px;
padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}
.logo-web {
  color: var(--accent-text-color);
}
.navigation-link {
  display: flex;
  list-style: none;
  gap: 40px;
  padding-left: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  
}
.header-list {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
.header-list:hover,
.header-list:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--enable-btn-color);
}
.contacts-link {
  display: flex;
  list-style: none;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
}
.header-contacts {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-contacts:hover,
.header-contacts:focus {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--enable-btn-color);
}

/* MAIN SECTION */
.hero {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

background-color: var(--accent-color);

height: 600px;
}
.hero-title {
  width: 496px;
height: 120px;
margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--nav-background-color);

}
.hero-button {
  border: 0px;
  display: inline-block;
  padding: 16px 32px;
  background: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--nav-background-color);
  cursor: pointer;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  display: inline-block;
  padding: 16px 32px;
  border: 0px;
  background: var(--enable-btn-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--nav-background-color);
  cursor: pointer;
  border-radius: 4px;
}
.advantages-list {
  display: flex;
  list-style: none;

}
.advantages-item {
  width: 264px;
  height: 72px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.advantages-list .advantages-item + .advantages-item{
  margin-left: 24px;
}
.advantages-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
}
.team-section {
  background-color: var(--secondary-background-color);
}
.personal-card {
  background-color: var(--nav-background-color);
}
.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  background-color: var(--accent-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-background-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--disable-btn-color);
}

/* PORTFOLIO */

.main-section {
}
.filter-button {
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-text-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--enable-btn-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--nav-background-color);
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.project-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
